*{
    box-sizing: border-box;
}

.esnek {
    width: 100%;
    height: auto;
    border-radius: 61px;
}

.esnek1 {
    width: 100%;
    height: auto;
    border-radius: 61px;
}

.main,h1,h3{
    color: brown;
    text-align: center;
}